body {
	/*background-color: #F8BA0D;*/
	background-color: #fdee23;
	/*background-image: url("../items/img/top1.jpg");*/
}

h1, h2 { text-align: center; }

h3 {
	color: black;
	font-size: 18px;
	font-weight: 500;
	/*background-color: rgb(151, 112, 212);*/
	background-color: #ed2027;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	line-height: 2em;
	position: relative;
	background-color: #ed2027;
}

footer {
	text-align: right;
	/*position: absolute;
	bottom: 0;*/
	width: 100%;
	background-color: #ed2027;
	line-height: 3em;
	margin-top: 30px;
}

.footer { margin-top: 30px; }

.all-rights {
	display: block;
	padding-top: 20px;
	margin-right: 10px;
}

.content {
	margin: 0 auto;
	min-height: 87px;
}

.logo-main {
	float: left;
	height: 87px;
}

.navbar {
	line-height: 87px;
	overflow: hidden;
	float: right;
	height: inherit;
	padding-right: 4rem;
}

.navbar a {
	float: left;
	padding-right: 8px;
	padding-left: 8px;
	color: black;
}

.navbar a:hover {
	/*background-color: rgb(48, 8, 110);*/
	/*color: rgb(151, 112, 212);*/
	background-color: rgb(154, 10, 14);
	color: #ed2027;
}

.navbar-logo {
	width: 24px;
	height: 2em;
	background-image: url("../items/img/icon_nothover_24.png");
	background-repeat: no-repeat;
	background-position: center;
}

.navbar-logo:hover {
	background-image: url("../items/img/icon_hover_red_24.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brief {
	color: #200772;
	font-size: 14px;
	font-style: italic;
	line-height: 2rem;
}

.detailed {
	color: #200772;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
}

.list li {
	color: #200772;
	list-style-type: none;
	line-height: 28px;
	background-image: url("../items/img/square.png");
	background-repeat: no-repeat;
	text-indent: 30px;
}

.petition input { height: 1.5em; }

.petition input:focus {
	height: 1.5em;
	font-size: 1.2em;
}

.text-petition {
	width: 20%;
	color: blue;
}

.petition textarea { text-transform: capitalize; }

.items p::first-letter {
	font-size: 2em;
	color: #202AAc;
}

.one-detail { min-height: 234px; }

.set { min-height: 129px; }

.middle-set { min-height: 160px; }

.very-big-set { min-height: 144px; }

.img-detail {
	border-style: double;
	border-color: black;
	border-width: 5px;
	float: left;
	/*box-shadow: 0 0 0 5px black;*/
}

.short-description {
	overflow: hidden;
	padding-left: 1rem;
}

.short-description h3 { margin-top: 0; }

.img-detail:hover { border-color: transparent; }

.btn-buy {
	float: right;
	position: relative;
	border-radius: 20%;
	height: 2.5em;
	width: 8em;
	background-color: #ed2027;
	border: 0;
}

.btn-buy:focus { outline: 0 }

.btn-buy:hover {
	background-color: rgb(154, 10, 14);
	color: #ed2027;
}

.btn-buy:active {
	background-color: #fdee23;
	color: black;
	box-shadow: 0 0 0 2px black;
}

.logo { width: 100%; }

table {
	border: 1px solid #000;
	border-collapse: collapse;
}

td {
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	line-height: 25px;
}

footer div h5 {
	float: right;
	padding-right: 1rem;
}

.game-table {
	width: 80%;
	height: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.game-table thead {
	color: #202AAc;
	background-color: rgb(151, 112, 212);
	line-height: 2em;
}

.game-table tbody td:hover { font-size: 2em; }